<!DOCTYPE html>
<html lang="en" dir="ltr" vocab="http://schema.org" typeof="Blog">
    <head>
        <title>jaca's blog</title>

        {% include 'head.partial.html' %}

        <meta name="description" content="jaca's blog">
        <meta property="og:type" content="website">
        <meta property="og:title" content="jaca's blog">
        <meta property="og:description" content="jaca's blog">
    </head>
    <body>
        <hr>
        <nav>
            {% include 'navigation.partial.html' %}
            <hr>
            {% for post in posts %}
            <a href="#{{ post.id}}">{{ post.title }}</a>
            {% endfor %}
        </nav>
        <hr>
        <main>
            {% for post in posts %}
                <h2>{{ post.title }}</h2>
                <small>
                    [
                    <a href="#{{ post.id}}">link</a> —
                    <a href="{{ post.post_path }}">standalone</a>
                    ] <time datetime="{{ post.date }}">{{ post.date }}</time>
                </small>
                <blockquote cite="{{ post.post_path }}" id="{{ post.id }}">
                    <p>{{ post.text }}</p>
                </blockquote>
            {% endfor %}
        </main>
        <hr>
        <footer>
            {% include 'footer.partial.html' %}
        </footer>
        <hr>
    </body>
</html>

