<!DOCTYPE html>
<html lang="en">
    <head>
        <title>jaca's blog</title>
        <link rel="stylesheet" href="style.css"></link>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="jaca's blog">
    </head>
    <body>
        <hr>
        <nav class="nav">
            <a href="/index.html">Home</a>
            <a href="/blog.html">Blog</a>
            <ul title="Ways we can get in touch">
                Contact
                <div class="dropdown-content">
                    <li><a href="mailto:vitouejj@gmail.com" title="Please encrypt your emails with PGP">Email</a></li>
                    <li><a href="/jacadzaca.gpg" title="Pretty good privacy">PGP</a></li>
                </div>
            </ul>
        </nav>
        <hr>
        {% for post in posts %}
            <h2>{{ post.title }}</h2>
            <small>
                [
                <a href="#{{ post.id}}">link</a> —
                <a href="{{ post.post_path }}">standalone</a>
                ] {{ post.date }}
            </small>
            <blockquote id="{{ post.id }}">
                <p>{{ post.text }}</p>
            </blockquote>
        {% endfor %}
        <hr>
        <footer class="nav">
            <a href="/linux_tech_tips.html" title="Linux facts">Linux Tech Tips</a>
            <a target="_blank" href="/rss.xml" title="Stay updated">Feed</a>
            <a href="/bookmarks.html" title="Browser bookmarks">Bookmarked pages</a>
        </footer>
        <hr>
    </body>
</html>

