        <link rel="author" href="/">
        <link rel="alternate" type="application/atom+xml" title="Atom feed" href="/files/rss.xml">
        <link rel="icon" href="/files/images/favicons/16x16.jpg" sizes="32x32" type="image/jpg">
        <link rel="icon" href="/files/images/favicons/32x32.jpg" sizes="32x32" type="image/jpg">
        <link rel="icon" href="/files/images/favicons/48x48.jpg" sizes="48x48" type="image/jpg">
        <link rel="icon" href="/files/images/favicons/128x128.jpg" sizes="128x128" type="image/jpg">
        <link rel="icon" href="/files/images/favicons/192x192.jpg" sizes="192x192" type="image/jpg">
        <link rel="apple-touch-icon" href="/files/images/favicons/167x167.jpg" sizes="167x167" type="image/jpg">
        <link rel="apple-touch-icon" href="/files/images/favicons/180x180.jpg" sizes="180x180" type="image/jpg">
        <link rel="stylesheet" href="/files/css/main.css"></link>
        <link rel="manifest" href="/files/manifest.json">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#171716">
        <meta property="og:site_name" content="jaca's safe haven">
        <meta property="og:image" content="/files/images/favicons/1250x1250.jpg">
        <meta property="og:image:width" content="1250">
        <meta property="og:image:height" content="1250">
        <meta property="og:image:alt" content="jaca's blog logo">

