<!DOCTYPE html>
<html lang="en" dir="ltr" vocab="http://schema.org" typeof="Blog">
    <head>
        <title>{{ name }} Library</title>

        {% include 'head.partial.html' %}

        {% if not next == None %}
        <link rel="next" title="next image library section" href="{{ name }}_library{{ next }}.html">
        {% endif %}
        <meta name="description" content="images of {{ name }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="jaca's image library - {{ name }}">
        <meta property="og:description" content="images of {{ name }}">
    </head>
    <body>
        <hr style="grid-column: 1 / 3; grid-row: 1">
        <nav>
            {% include 'navigation.partial.html' %}
            <hr>
            {% if not next == None %}
            <a title="next image library section" href="{{ name }}_library{{ next }}.html">Next</a>
            {% endif %}
        </nav>
        <main>
            <div>
                <h1>{{ description }}</h1>
                {% for url in urls %}
                <img src="{{ url }}" loading="lazy"/>
                {% endfor %}
            <div>
        </main>
        <hr style="grid-column: 1 / 3; grid-row: 3;">
        <footer>
            {% include 'footer.partial.html' %}
        </footer>
    </body>
</html>

