<!DOCTYPE html>
<html lang="en" dir="ltr" vocab="http://schema.org" typeof="Blog">
    <head>
        <title>jaca's Homepage</title>

        {% include 'head.partial.html' %}

        <meta name="description" content="jaca's safe haven - a blog">
        <meta property="og:type" content="website">
        <meta property="og:title" content="jaca's homepage">
        <meta property="og:description" content="jaca's homepage">
    </head>
    <body>
        <h1 style="text-align: left;">jaca's safe haven</h1>
        <hr>
        <nav>
            {% include 'navigation.partial.html' %}
        </nav>
        <hr>
        <main>
            <img loading="lazy" class="avatar" src="pix/avatar.avif"/>
            <p>
                I major in applied-maths, keep a diary and a <a href="https://en.wikipedia.org/wiki/Dream_diary">dream diary</a>.
                On my blog I write about the <a target="_blank" href="https://github.com/jacadzaca/">programs I've written</a> or maths.
                <p>
                    If the page looks odd on your device, feel free to
                    <a href="mailto:vitouejj@gmail.com">email</a> me.
                </p>
            </p>
            <h2>Recent posts
                <a title="Newsletters are bloat, rss is 1337" href="rss.xml">(feed)</a>:
            </h2>
            <ul>
                {% for post in posts %}
                    <li>
                        <a href="{{ post.post_path }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </main>
        <hr>
        <footer>
            {% include 'footer.partial.html' %}
        </footer>
        <hr>
    </body>
</html>

