<!DOCTYPE html>
<html lang="en" dir="ltr" vocab="http://schema.org" typeof="Blog">
    <head>
        <title>jaca's Homepage</title>

        {% include 'head.partial.html' %}

        <meta name="description" content="jaca's safe haven - a blog">
        <meta property="og:type" content="website">
        <meta property="og:title" content="jaca's homepage">
        <meta property="og:description" content="jaca's homepage">
    </head>
    <body>
        <hr style="grid-column: 1 / 3; grid-row: 1">
        <nav>
            {% include 'navigation.partial.html' %}
        </nav>
        <main>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <p>
                        <h2>About</h2>
                        On my blog I mainly write about 'tech' - I showcase the <a target="_blank" href="/git.html">programs I've written</a> etc. -  or do 'math'.
                        I sometimes write about what one could call 'lifestyle' and I try not to rant. When I'm not tinkering with my computer,
                        I'm either studying (I major in math), cooking, playing video games, reading, writing in my diary or my <a target="_blank" href="https://en.wikipedia.org/wiki/Dream_diary">dream diary</a>.
                        Sometimes, I even interact with other human beings, which usually results in both parties' enjoyment - crazy stuff.
                        <p>
                        If you would like to contact me, <a href="/contact.html">go here</a>.
                        </p>
                        <p>
                        If you're looking for slides from the presentation, <a href="/files/talks/generowanie_zadan.pdf">they are here</a>
                        </p>
                        <p>
                        You can checkout other cool (or even cooler) websites <a href="/links.html">here</a>
                        </p>
                        <p>
                        If you're hungry for some Linux Tips, <a href="/linux_tech_tips.html">go here</a>
                        </p>
                        <p>
                        I share my browser bookmarks <a href="/bookmarks.html">here</a>
                        </p>
                        <p>
                        Lasty, if for some reason, you'd like to give me money, <a href="/donate.html">you can do so here</a>
                        </p>
                    </p>
                </div>
                <img loading="lazy" class="avatar" src="/files/images/avatar.avif"/>
            </div>
            <h2>Recent posts
                <a title="Newsletters are bloat, rss is 1337" href="/files/rss.xml">(feed)</a>:
            </h2>
            <ul>
                {% for post in posts %}
                    <li>
                        <a href="{{ post.post_path }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </main>
        <hr style="grid-column: 1 / 3; grid-row: 3;">
        <footer>
            {% include 'footer.partial.html' %}
        </footer>
    </body>
</html>

