{% macro render_bookmark(bookmark) -%}
    <details open>
        <summary><h1>{{ bookmark.name }}</h1></summary>
        <ul>
            {% for element in bookmark.children %}
                {% if element.has_children %}
                    {{ render_bookmark(element) }}
                {% else %}
                    <li>
                    <a target="_blank"
                        href="{{ element.url }}">{{ element.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </details>
{%- endmacro %}
<!DOCTYPE html>
<html lang="en" dir="ltr" vocab="http://schema.org" typeof="Blog">
    <head>
        <title>Link Library</title>

        <link rel="author" href="jacadzaca">
        <link rel="alternate" type="application/atom+xml" title="Atom feed" href="/rss.xml">
        <link rel="icon" href="/pix/favicons/16x16.jpg" sizes="32x32" type="image/jpg">
        <link rel="icon" href="/pix/favicons/32x32.jpg" sizes="32x32" type="image/jpg">
        <link rel="icon" href="/pix/favicons/48x48.jpg" sizes="48x48" type="image/jpg">
        <link rel="icon" href="/pix/favicons/128x128.jpg" sizes="128x128" type="image/jpg">
        <link rel="icon" href="/pix/favicons/192x192.jpg" sizes="192x192" type="image/jpg">
        <link rel="apple-touch-icon" href="/pix/favicons/167x167.jpg" sizes="167x167" type="image/jpg">
        <link rel="apple-touch-icon" href="/pix/favicons/180x180.jpg" sizes="180x180" type="image/jpg">
        <link rel="stylesheet" href="/style.css">
        <link rel="manifest" href="/manifest.json">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#171716">
        <meta name="description" content="Links I consider intresting enough to bookmark">
        <meta property="og:type" content="website">
        <meta property="og:description" content="jaca's bookmarks">
        <meta property="og:site_name" content="jaca's safe haven">
        <meta property="og:title" content="jaca's bookmarks">
        <meta property="og:image" content="/pix/favicons/1250x1250.jpg">
        <meta property="og:image:width" content="1250">
        <meta property="og:image:height" content="1250">
        <meta property="og:image:alt" content="jaca's blog logo">
    </head>
    <body>
        <hr>
        <nav class="nav">
            <a href="/index.html">Home</a>
            <a href="/blog.html">Blog</a>
            <ul title="Ways we can get in touch">
                Contact
                <div class="dropdown-content">
                    <li><a href="mailto:vitouejj@gmail.com" title="Please encrypt your emails with PGP">Email</a></li>
                    <li><a href="/jacadzaca.gpg" title="Pretty good privacy">PGP</a></li>
                </div>
            </ul>
        </nav>
        <hr>
        <main>
            {% for bookmark in bookmarks %}
                {{ render_bookmark(bookmark) }}
            {% endfor %}
        </main>
        <hr>
        <footer class="nav">
            <a href="/linux_tech_tips.html" title="Linux facts">Linux Tech Tips</a>
            <a target="_blank" href="/rss.xml" title="Stay updated">Feed</a>
            <a href="/bookmarks.html" title="Browser bookmarks">Bookmarked pages</a>
        </footer>
        <hr>
    </body>
</html>

