            <a href="/index.html">🏠Home</a>
            <a href="/blog.html">📜Blog</a>
            <a target="_blank" href="/files/rss.xml" title="Stay updated">📡RSS Feed</a>
            <a href="/git.html">🐙Git</a>
            <a href="/links.html" title="Sites worth visting">🔗Links</a>
            <a href="/contact.html">📨Contact</a>
            <a href="/donate.html" title="Give me money">💰Donate</a>
            <a href="/linux_tech_tips.html" title="Linux facts">💡Linux Tech Tips</a>
            <a href="/bookmarks.html" title="My Browser bookmarks">🔖Bookmarks</a>

